section
  header Movies
  if movies.length
    ul
      each movie in movies
        li
          a(href='/movie/'+movie.id) #{movie.original_title}
  else
    ul
      li No results found
      li
        a(href="/") Search again
