form(action="/movies", skip-confirmation, method="get")
    section(name="query_text" required)
        header query text
        p Search for a movie using themoviedb.org
        input(type="text")

