section
  header #{movie.title}
  img(src=movie.poster_path alt="poster")
  p #{movie.overview}
  p Released: #{new Date(movie.release_date).toLocaleString()}
  ul
    if !isFavourite
      li
        a(href="/user/favourite/"+movie.id+"?title="+movie.title method="post") Add to favourites
    li
      a(href="/") Search again
